body {
  font-size: 0px;
}
.wrapper {
  width: 75%;
  height: 800px;
  margin: auto;
  background-color: pink;
}

.left {
  width: 534px;
  /*width: 50%;*/
  height: 100px;
  background-color: red;
  float: left;
}

.right {
  width: 534px;
  /*width: 50%;*/
  height: 100px;
  background-color: blue;
  float: left;
}

@media screen and (max-width: 480px) {
  .wrapper {
    background-color: forestgreen;
  }

  .left {
    width: 100%;
  }

  .right {
    display: none;
  }
}
